body {
    font-family: 'Lato', sans-serif;

    background: url(bg.svg) center center / cover no-repeat fixed;
    color: #e2e2e2;
    background-position: center center;
}

.container {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.card {
    
    float: none;
    padding: 20px;
    width: 700px;
}

.icon {
    margin-right: 10px;
    font-size: 30px;
    color: #3c82ef;
}

a {
    color: #3c82ef;
}
