
html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: #0e1217;
    color: #e2e2e2;
}

.container {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.card {
    
    float: none;
    padding: 20px;
    width: 700px;
}

.icon {
    margin-right: 10px;
    font-size: 30px;
    color: #3c82ef;
}

a {
    color: #3c82ef;
}
